.widget-files-upload {
  overflow: hidden;

  .slots {
    display: flex;
  }

  input {
    opacity: 0;
    font-size: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .add-button {
    cursor: pointer;
    font-size: 2em;
    position: relative;
    display: flex;
    align-items: center;
  }

  .actions {
    white-space: nowrap;
  }

  &.layout-thumbs {
    .slots {
      display: flex;
      flex-wrap: wrap;
    }

    .slot {
      margin-bottom: 1em;
      border: 1px solid transparent;
      position: relative;
      width: 100%;

      @media (min-width: 576px) {
        width: 170px;
      }

      @media (min-width: 768px) {
        width: 220px;
      }

      &:hover {
        .actions {
          visibility: visible;
        }
      }

      &.placeholder {
        border: 1px dashed #aaaaaa;
      }

      &.progress {
        padding: 0;
        border: 0;
        vertical-align: top;
        display: none;
      }

      .inner {
        position: relative;
        margin: 0.5em;
      }

      .thumb {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        img {
          visibility: hidden;
        }
      }

      .filename, .filesize {
        display: none;
      }

      .number {
        position: absolute;
        background: #fff;
        padding: 3px 8px;
        left: 0;
        top: 0;
        font-size: 12px;
        margin: 1px;
      }

      .actions {
        position: absolute;
        visibility: hidden;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        a, button {
          margin: 1px .1em;
        }
      }
    }

    .add-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dashed lightgray;

      .sizer {
        width: 100%;
        padding-top: 100%;
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.layout-list {
    .slots {
      flex-direction: column;
    }

    .slot {
      padding-top: 7px;
      padding-bottom: 7px;
      border-bottom: 1px solid #ddd;
      height: 64px;

      &:hover {
        background: #f6f6f6;
      }

      .inner {
        display: flex;
        align-items: center;
      }

      .number {
        margin-right: .75em;
      }

      .filename {
        flex-grow: 1;
        margin-right: .75em;
      }

      .filesize {
        margin-right: .75em;
      }

      .thumb {
        margin-right: .75em;
        min-width: 50px;
        width: 50px;
        height: 50px;
        min-height: 50px;
      }

      &.progress {
        height: 35px;
      }

      &.add-button {
        border-bottom: none;

        .sizer {
          width: .75em;
        }
      }
    }
  }

  .processing {
    font-size: 2em;
  }
}
