.widget-files-upload {
  overflow: hidden;

  .slots {
    display: flex;
    flex-wrap: wrap;

    .slot {
      margin-bottom: 1em;
      border: 1px solid transparent;
      position: relative;
      width: 100%;

      @media (min-width: 576px) {
        width: 170px;
      }

      @media (min-width: 768px) {
        width: 220px;
      }

      &:hover {
        .actions {
          visibility: visible;
        }
      }

      &.placeholder {
        border: 1px dashed #aaaaaa;
      }

      &.progress {
        padding: 0;
        border: 0;
        vertical-align: top;
        display: none;
      }

      .inner {
        position: relative;
        margin: 0.5em;
      }

      .thumb {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        img {
          visibility: hidden;
        }
      }

      .actions {
        position: absolute;
        visibility: hidden;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .spacer {
          flex-grow: 1;
        }

        a, button {
          margin: 1px .1em;
        }
      }

      .number {
        background: #fff;
        padding: 3px 8px;
        left: 0;
        font-size: 12px;
        margin: 1px;
      }
    }

    .add-button {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border: 1px dashed lightgray;
      font-size: 2em;

      .sizer {
        width: 100%;
        padding-top: 100%;
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      input {
        opacity: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }
  }

  .processing {
    font-size: 2em;
  }
}
